
body{
    overflow: hidden;
}
.small-box{
    color: white;
    font-family: 'Orbitron', sans-serif;
}
.big-box-text{
    font-family: Myriad Pro;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 750px;
    top: -50px;
}
.big-box-div{
    border-radius: 45px;
    width: 1800px;
    height: 700px;
    top: 50px;
    left: 50px;
    position: absolute;


}
.temp, .alarm-time{
    position: absolute;
    font-size: 180px;
    border-radius: 45px;
    top: 800px;
    width: 500px;
}
.temp{
    left: 50px;
    padding-left: 30px;

}
.alarm-time{
    width: 500px;
    text-align: right;
    right: 50px;
    padding-right: 30px;

}
.player-box{

}

#artist, #song, #img-play{
    position: absolute;
}
#img-play{
    top: 30px;
    left: 20px;
}
