body{
    background-color: black;
}
img{
    justify-content: space-around;
}
.radius-left{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.radius-right{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}


h1{
    font-size: 70px;
    color: white;
}
#js-rangeSlider-0{
    padding-bottom: 20px;
}

#slider{
    width: 100%;
    height: 5px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.container{
    width: 80%;
    position: relative;
}
#main-triangle{
    height: 80px;
    text-align: center;
}
.div-play,.img-play{
    width: 80px;
}
.div-play{
    margin: 0 auto;
}
.col{
    border: 1px solid white;
}
#controls{
    position:absolute;
    bottom:20px;
    width: 100%;

    margin: 0 auto;
}
#controlsWrapper{

    margin: 0 auto;
}

.div-image-double,.image-double{
    width: 60px;
}
.image-double{
    padding-top: 17px;
}
.div-image-double{
    margin:0 auto;
}

.seznam{

    text-decoration: none;
}
a{
    width: 100%;
    text-decoration: none;
    font-size: 30px;
    padding-top: 30px;

}
.range-background{
    width: 500px;
    height: 15px;
    background-color: red;
}