


input {
    -webkit-appearance: none;
    width: 500px;
    height: 20px;
    margin: 10px 50px;
    background: linear-gradient(to right, #16a085 0%, #16a085 100%);
    background-size: 150px 10px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
    zoom: 130%;
    display: block;
    margin-bottom: 30px;
}
input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #27ae60;
    z-index: 3;
}
input::-webkit-slider-thumb:after {
    content: " ";
    width: 500px;
    height: 10px;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 5px;
    background: #2ecc71;
}
.green::-webkit-slider-thumb {
    background: #27ae60;
}
.green::-webkit-slider-thumb:after {
    background: #2ecc71;
}
.red::-webkit-slider-thumb {
    background: #c0392b;
}
.red::-webkit-slider-thumb:after {
    background: #e74c3c;
}
.blue::-webkit-slider-thumb {
    background: #2980b9;
}
.blue::-webkit-slider-thumb:after {
    background: #3498db;
}
.orange::-webkit-slider-thumb {
    background: #d35400;
}
.orange::-webkit-slider-thumb:after {
    background: #e67e22;
}
.purple::-webkit-slider-thumb {
    background: #8e44ad;
}
.purple::-webkit-slider-thumb:after {
    background: #9b59b6;
}
.gray::-webkit-slider-thumb {
    background: #7f8c8d;
}
.gray::-webkit-slider-thumb:after {
    background: #95a5a6;
}


.submit {
    border: none;
    padding: 4px;
    width: auto;
    background: orange;
    text-transform: uppercase;
    color: #FFF;
    font-family: sans-serif;
    cursor: pointer;
}