.slider{
    width: 500px;
    height: 15px;
    border-radius: 10px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.runner{
    width: 30px;
    height: 30px;
    margin-bottom: 40px;
    background-color: blue;
    border-radius: 20px;
}