@import "../../node_modules/bootstrap/scss/bootstrap";

$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: white;
  background-color: black;

}
.navbar-nav  > .nav-item > a{
  font-size:45px;
}
.navbar-brand{
  font-size:50px;
}
.devices {
  div {
    flex: 1;
    display: flex;
    align-items: center;
  }
  img {
    flex: 1;
    width: 100%;
  }
}

.oval {
  width: 30px;
  height: 30px;
  background-color: red;
  margin: 0 auto;
  border-radius: 20px;

}

#time-picker,#playlistSelect{
  width: 100%;
  max-width: 500px;
  font-size: 100px;
  text-align: center;

}
hr{

  color: gray;
}
.alarm{
  max-width: 500px;
}
#set-time{
  font-size: 90px;
  padding-top: 15px;
  width: 100%;
}
.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}